Examples class below:
- Date (01/15/2019, 15/02/2018, Dec 24th 2016, April 9 2015, etc.)

In [35]:
# Imports

import random
import pandas as pd
import numpy as np

In [36]:
# Generate 20K Dates 

start = datetime(2020, 1, 1)
end = datetime(2025, 1, 1)

delta_seconds = int((end - start).total_seconds())

datetimes = [
    start + timedelta(seconds=random.randint(0, delta_seconds))
    for _ in range(20000)
]

dates = pd.DataFrame({"datetime": datetimes})
dates["date"] = dates["datetime"].dt.date

dates.head(2)

             datetime        date
0 2021-10-20 22:21:36  2021-10-20
1 2020-01-25 08:46:01  2020-01-25

In [28]:
# Generate for formats for each dates

# Ensure correct dtypes
dates["date"] = pd.to_datetime(dates["date"])

# Simple formats
dates["mmddyyyy"] = dates["date"].dt.strftime("%m/%d/%Y")
dates["ddmmyyyy"] = dates["date"].dt.strftime("%d/%m/%Y")

# Long format (April 9 2015)
# Linux / Mac: "%B %-d %Y"
# Windows: "%B %#d %Y"
dates["long"] = dates["date"].dt.strftime("%B %-d %Y")

# Ordinal suffix helper
def ordinal(n):
    if 11 <= n % 100 <= 13:
        return "th"
    return {1: "st", 2: "nd", 3: "rd"}.get(n % 10, "th")

day = dates["date"].dt.day
suffix = day.map(ordinal)

dates["ordinal"] = (
    dates["date"].dt.strftime("%b ") +
    day.astype(str) +
    suffix +
    dates["date"].dt.strftime(" %Y")
)

dates.head()

,datetime,date,mmddyyyy,ddmmyyyy,long,ordinal
0,2024-03-18 23:26:40,2024-03-18,03/18/2024,18/03/2024,March 18 2024,Mar 18th 2024
1,2024-02-05 16:02:32,2024-02-05,02/05/2024,05/02/2024,February 5 2024,Feb 5th 2024
2,2024-04-07 22:09:54,2024-04-07,04/07/2024,07/04/2024,April 7 2024,Apr 7th 2024
3,2023-06-29 19:12:02,2023-06-29,06/29/2023,29/06/2023,June 29 2023,Jun 29th 2023
4,2020-09-19 22:05:30,2020-09-19,09/19/2020,19/09/2020,September 19 2020,Sep 19th 2020

In [31]:
# Randomly select dates in different formats

# List of format columns
format_columns = [
    "mmddyyyy",
    "ddmmyyyy",
    "long",
    "ordinal"
]

# Randomly select one format per row
dates["dates"] = dates[format_columns].apply(
    lambda row: np.random.choice(row.values),
    axis=1
)

print(dates[["date"]])

                    date
0          Mar 18th 2024
1           Feb 5th 2024
2             04/07/2024
3           June 29 2023
4      September 19 2020
...                  ...
19995         07/12/2023
19996         17/07/2022
19997       June 11 2024
19998       Mar 6th 2020
19999         01/29/2022

[20000 rows x 1 columns]

In [33]:
dates= dates['dates']
dates.to_csv("Sub_datasets/dates.csv")