Random string (INV01354-017, HKU781234, 001249546401)

In [2]:
import random
import string
import pandas as pd

# Reproducibility (optional)
random.seed(42)

N = 20000

# Character pool
CHAR_POOL = (
    string.ascii_letters +   # a-zA-Z
    string.digits +          # 0-9
    "-_@#"                   # safe special symbols
)

# Random string generator
def random_string(min_len=8, max_len=18):
    length = random.randint(min_len, max_len)
    return ''.join(random.choices(CHAR_POOL, k=length))

# Generate dataset
random_str = pd.DataFrame({
    "random_string": [random_string() for _ in range(N)]
})

random_str.head()

        random_string
0  hWqjgWJMcgpNLVUBDs
1            YkBsoYgz
2       3N1WJ@yK2O4MU
3            RZ#45zD3
4          ynr9QOlWkz

In [3]:
random_str.to_csv('Sub_datasets/random_str.csv')