Examples class below
  Location (Beijing, USA, Boston, Hong Kong, etc.)

In [2]:
# Imports
import pandas as pd

In [22]:
# Download found dataset

locations = pd.read_csv('Downloaded_datasets/worldcities.csv')

In [30]:
# Remain only needed columns

locations = locations[['city', 'country']]
locations.head(4)

        city    country
0      Tokyo      Japan
1    Jakarta  Indonesia
2      Delhi      India
3  Guangzhou      China

In [31]:
# Re-frame in needed format 

locations_long = (
    pd.concat([locations["city"], locations["country"]], axis=0)
      .dropna()
      .reset_index(drop=True)
      .to_frame(name="location")
)

locations_long.head()

    location
0      Tokyo
1    Jakarta
2      Delhi
3  Guangzhou
4     Mumbai

In [28]:
locations_long.to_csv('Sub_datasets/location.csv')